MRuby::Build.new do |conf|
  # MacOS users may want to change the toolchain to :clang
  toolchain :gcc

  # Not a useful warning for Rubyists used to declaring variables
  # anywhere within methods
  conf.cc do |cc|
    cc.flags << '-Wno-declaration-after-statement'
  end

  # Compiles in support for stack traces
  enable_debug

  # bin/mruby executable
  conf.gem 'mrbgems/mruby-bin-mruby'

  # bin/mirb executable
  conf.gem 'mrbgems/mruby-bin-mirb'

  # require, require_relative, load (and bin/mruby-require executable)
  conf.gem 'mrbgems/mruby-require' do |spec|
    spec.cc.flags << %(-DMRUBY_REQUIRE_COMPILED_FEATURES='"pp,stringio,securerandom,time"')
  end

  # Load Ruby gems installed via bundle --standalone
  conf.gem './mrbgems/bundle-standalone'

  # TestBench and bin/bench-mruby executable
  conf.gem 'mruby-test-bench', :github => 'test-bench/test-bench'
end
